@font-face {
  font-family: "roboto-regular";
  src: url("./../public/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-bold";
  src: url("./../public/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "roboto-regular";
  background-color: azure;
}
